
.bookmark {
  background-image: url('/images/cloth_background.png');
  background-color: #3399FF;
//  margin-top: -25px;
  color: black;
  
  section {
    border: 2px dashed #99CCFF;
    padding: 20px;
    margin: 5px;
  }
}

.manifesto {
  ol li {
    font-size: 120%;
    margin-bottom: 0.4em;
  }
}